body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    color: black;
}

#mensagem, #mensagem1, #mensagem2 {
    font-weight: bold;
    color: #ff0000;
}

#rodape {

    background-color: #5F890D;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: #FDFFF5; 
}
